    <header class=" inset-0 bg-gradient-to-b flex flex-col text-center items-center justify-center text-emerald-700" data-controller='index'>
        <div class="w-auto flex justify-center items-center gap-4 ">
          <img class='' src='https://img.lemde.fr/2022/12/22/5/0/1730/865/768/384/75/0/e968e4d_1671703423578-b5e.jpeg' alt='Illustration polémon'>
        </div>
</header>
  
  <body class= 'h-screen'>
    <div class='text-center text-cyan-800 text-2xl pb-8'>
      <h1>Bienvenue sur la section blog <br>
      Ici, tu peux retrouver les blogs existants sur pokémon, mais également créer ton propre blog !</h1>
    </div>
      <section>
        <div class='text-left columns-5'>
          <p class= 'text-cyan-600 text-2xl font-bold'>
          Les blogs déja existants :</p>
            <ul>
              <% @articles.each do |article| %>
              <% unless article.archived? %>
            <li>
            <p class='text-cyan-600 text-lg'>
        <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
          <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M17.303 5.197A7.5 7.5 0 006.697 15.803a.75.75 0 01-1.061 1.061A9 9 0 1121 10.5a.75.75 0 01-1.5 0c0-1.92-.732-3.839-2.197-5.303zm-2.121 2.121a4.5 4.5 0 00-6.364 6.364.75.75 0 11-1.06 1.06A6 6 0 1118 10.5a.75.75 0 01-1.5 0c0-1.153-.44-2.303-1.318-3.182zm-3.634 1.314a.75.75 0 01.82.311l5.228 7.917a.75.75 0 01-.777 1.148l-2.097-.43 1.045 3.9a.75.75 0 01-1.45.388l-1.044-3.899-1.601 1.42a.75.75 0 01-1.247-.606l.569-9.47a.75.75 0 01.554-.68z" clip-rule="evenodd" />
            </svg>
              <%= link_to article.title, article %>
        </button>
            </p>
            </li>
              <% end %>
              <% end %>
            </ul>
        </div>
    <div class= 'text-center pt-40'>
      <p class='text-cyan-600 text-2xl mb-3'>Vous souhaitez créer un nouveau blog ?</p>
<button class='relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800' data-action="click->counter#increment">
  <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          <%= link_to "cliquez ici !", new_article_path %>
        </button>
      </section>
    </div>
  </body>

