    <header class=" inset-0 bg-gradient-to-b flex flex-col text-center items-center justify-center text-emerald-700" data-controller='index'>
        <div class="w-auto flex justify-center items-center gap-4 ">
          <img class='' src='https://img.lemde.fr/2022/12/22/5/0/1730/865/768/384/75/0/e968e4d_1671703423578-b5e.jpeg' alt='Illustration polémon'>
        </div>
</header>
  
  <body class= 'h-screen'>
    <div class='text-center text-cyan-800 text-2xl pb-8'>
      <h1>Bienvenue sur la section blog <br>
      Ici, tu peux retrouver les blogs existants sur pokémon, mais également créer ton propre blog !</h1>
    </div>
      <section>
        <div class='text-left columns-5'>
          <p class= 'text-cyan-600 text-2xl font-bold'>
          Les blogs déja existants :</p>
            <ul>
              <% @articles.each do |article| %>
              <% unless article.archived? %>
            <li>
            <p class='text-cyan-600 text-lg'>
        <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
  <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
              <%= link_to article.title, article %>
        </button>
          </p>
            </li>
              <% end %>
              <% end %>
            </ul>
        </div>
    <div class= 'text-center pt-40'>
      <p class='text-cyan-600 text-2xl mb-3'>Vous souhaitez créer un nouveau blog ?</p>
<button class='relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800' data-action="click->counter#increment">
  <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
          <%= link_to "cliquez ici !", new_article_path %>
        </button>
      </section>
    </div>
  </body>

