<section class='bg-gradient-to-r from-slate-800 to-slate-900 h65 w34 '>
<div class='text-center'>
    <h1 class='text-xl text-cyan-600'>Nouveau blog</h1>
<label for="base-input" class="block mb-2 font-medium text-xl text-cyan-600 "><br>
    <%= render "form", article: @article %>
    <%= form_with model: @article do |form| %>
</label>

    <% end %>
</div>
</section>
