<header>
    <h1 class='text-center text-3xl font-bold bg-gradient-to-r from-cyan-700 to-cyan-500 border-double'>Project Pokemon</h1>

<body>
    <div class='text-center text-cyan-600 text-xl pt-10'>
    Bienvenue sur le projet Pokemon<br>
    Ici, sous peu, vous retrouverez les derniers sets de carte Pokémon Ecarlate et Violet
    </div>
        <section class="flex flex-row justify-center">
            <div>
            <img class='w-30 h-60 display' src='https://static1.millenium.org/articles/6/40/03/56/@/1673758-sv01-fr-054-article_4_t-1.png'>
            </div>
            <div>
            <img class='w-30 h-60 display' src='https://static1.millenium.org/articles/6/40/03/56/@/1673756-sv01-fr-015-article_4_t-1.png'>
            </div>
            <div>
            <img class='w-30 h-60 display' src='https://static1.millenium.org/articles/6/40/03/56/@/1673757-sv01-fr-038-article_4_t-1.png'>
            </div>
        </section>
    <div class='text-center pt-10'>
    Test ici
</body> 