<header>
    <h1 class='text-center text-3xl font-bold bg-gradient-to-r from-cyan-700 to-cyan-500 border-double'>Project Pokemon</h1>
</header>

<body>
    <div class='text-center text-cyan-600 text-xl pt-10'>
    Bienvenue sur le projet Pokemon<br>
    Ici, sous peu, vous retrouverez les derniers sets de carte Pokémon Ecarlate et Violet
    </div>
        <section class="flex flex-row justify-center">
            <div>
                <img class='w-30 h-60 display' src='https://static1.millenium.org/articles/6/40/03/56/@/1673758-sv01-fr-054-article_4_t-1.png'>
            </div>
            <div>
            <img class='w-30 h-60 display' src='https://static1.millenium.org/articles/6/40/03/56/@/1673756-sv01-fr-015-article_4_t-1.png'>
            </div>
            <div>
            <img class='w-30 h-60 display' src='https://static1.millenium.org/articles/6/40/03/56/@/1673757-sv01-fr-038-article_4_t-1.png'>
            </div>
        </section>
    <h2 class='text-center pt-10'>
    Ce blog à pour but de vous initier au jeu de carte pokemon ou de vous aider à vous repérer dans votre collection.<br>
    <div class='pt-8 text-left'>
    Vous trouverez sur ce site : <br>
    * L'ensemble des cartes du dernier set<br>
    * Des blogs écrits ou copié/collé<br>
    * La possibilité d'écrire votre propre blog<br>
    * Des animations stimulus
    </div>
</body> 

<footer class=" bg-white w- fixed bottom-2  justify-center" style='width: 77%;'>
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="https://flowbite.com/" class="flex items-center">
                    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/393.png" class="h-8 mr-3" alt="FlowBite Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap">Project Pokemon</span>
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase ">Ressources</h2>
                    <ul class="text-gray-600 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="https://www.pokemon.com/fr" class="hover:underline">Pokemon Compagny</a>
                        </li>
                        <li>
                            <a href="https://tcg.pokemon.com/fr-fr/" class="hover:underline">Pokemon TCG</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase ">Suivre le Projet</h2>
                    <ul class="text-gray-600 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="https://github.com/raphaelmrn" class="hover:underline ">Github</a>
                        </li>
                        <li>
                            <a href="https://discord.gg/DYSfYg4A2t" class="hover:underline">Discord</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase ">Plus d'Infos</h2>
                    <ul class="text-gray-600 dark:text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="https://assets.pokemon.com//assets/cms2-fr-fr/pdf/trading-card-game/rulebook/sv01_rulebook_fr.pdf" class="hover:underline">Les règles du jeu</a>
                        </li>
                        <li>
                            <a href="https://shop.fantasysphere.net/10000062-pokemon" class="hover:underline">Acheter des cartes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

        </div>
    </div>
</footer>
